<!-- white Block -->
<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi,
      temporibus.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
        repellendus veritatis voluptatibus reiciendis et quaerat optio cumque
        consectetur harum placeat!
      </div>
    </div>
  </div>
</section>

<!-- Black Block -->
<section class="block block--dark block--skewed-left">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi,
        temporibus.
      </p>
    </header>
    <div style="width: 30%; padding: 4rem">
      <div class="card card--secondary">
        <header class="card__header">Card Title</header>
        <div class="card__body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
          repellendus veritatis voluptatibus reiciendis et quaerat optio cumque
          consectetur harum placeat!
        </div>
      </div>
    </div>
  </div>
</section>
